	<header_view></header_view>
	<br><br>
	  <div role="main" class="ui-content" is="content">
	  <div class="ui-field-contain">
		<input type="text" data-role="date" placeholder="From" data-clear-btn="true"> 
		<input type="text" data-role="date" placeholder="To" data-clear-btn="true">  
      </div>
	  
		      
      
    <ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Friday, October 8, 2010 <span class="ui-li-count">Rs: 250/-</span></li>
    <li data-icon="false"><a>
    <h2>Stephen Weber</h2>
    <p><strong>You've been invited to a meeting at Filament Group in Boston, MA</strong></p>
    <p class="ui-li-aside"><strong>125/-</strong></p>
    </a></li>
    <li data-icon="false"><a>
    <h2>jQuery Team</h2>
    <p><strong>Boston Conference Planning</strong></p>    
    <p class="ui-li-aside"><strong>125/-</strong></p>
    </a></li>
    <li data-role="list-divider">Thursday, October 7, 2010 <span class="ui-li-count">Rs: 550/-</span></li>
    <li data-icon="false"><a>
    <h2>Avery Walker</h2>
    <p><strong>Re: Dinner Tonight</strong></p>    
        <p class="ui-li-aside"><strong>550/-</strong></p>
    </a></ul>

    </div>
	<footer_view></footer_view>