<header_view></header_view>
<br><br>
<div role="main" class="ui-content" is="content">
      <div class="ui-field-contain">
        <input type="password" name="current_password" id="current_password" placeholder="Current Password" data-clear-btn="true">
		<input type="password" name="" id="" placeholder="New Password" data-clear-btn="true">
		<input type="password" name="" id="" placeholder="Confirm Password" data-clear-btn="true">
      </div>      
      <a class="ui-btn ui-icon-check ui-btn-icon-left">Change</a>
    </div>
<footer_view></footer_view>