	<header_view></header_view>
	<br><br>
	<div role="main" class="ui-content">
      <div class="ui-field-contain">
        <input type="text" name id="" placeholder="Amount" data-clear-btn="true">
      </div>
      <div class="ui-field-contain">        
        <input type="text" data-role="date" placeholder="Date" data-clear-btn="true">    
      </div>
      <div class="ui-field-contain">        
        <textarea id="gk-911dSuM" name placeholder="Description" data-autogrow="true"></textarea>
      </div>
      <a class="ui-btn ui-icon-plus ui-btn-icon-left">Add</a>
    </div>
	<footer_view></footer_view>