	<header_view></header_view>
	 <br><br>
	   <div role="main" class="ui-content" is="content">
    <ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Friday, October 8, 2010</li>
    <li data-icon="false"><a>
    <h2>Stephen Weber</h2>
	<p>You've been invited to a meeting at Filament Group in Boston, MA</p>
    <p><strong>125/-</strong></p>
    <p class="ui-li-aside"><input data-theme="b" type="button" data-mini="true" value="Accept"></p>
    </a></li>
    <li data-icon="false"><a>
    <h2>jQuery Team</h2>
	<p>Dinner Tonight</p>
    <p><strong>125/-</strong></p>    
    <p class="ui-li-aside"><input data-theme="b" type="button" data-mini="true" value="Accept"></p>
    </a></li>
    <li data-role="list-divider">Thursday, October 7, 2010</li>
    <li data-icon="false" >
	<a>
    <h2>Avery Walker</h2>
    <p><strong>550/-</strong></p>    
     <p>Re: Dinner Tonight</p>
		<p class="ui-li-aside"><input data-theme="b" type="button" data-mini="true" value="Accept"></p>
    </a>
	</ul>
    </div>
	<footer_view></footer_view>