<span ng-controller="loginCtrl">
<header_view></header_view>
<br><br>
<div role="main" class="ui-content" is="content">
	<form action="#" method="post" id="loginForm">
      <div class="ui-field-contain">        
        <input class="required" type="text" name id="gk-911rzt3" placeholder="Username" data-clear-btn="true">
		<input type="password" name id="gk-911dBvv" placeholder="Password" data-clear-btn="true">
      </div>     
      <a class="ui-btn ui-icon-lock ui-btn-icon-left" onClick="test()">Login</a>
	 </form>
</div>
<footer_view></footer_view>
</span>