<header_view></header_view>
<br><br>
<div role="main" class="ui-content" is="content">
      <ul data-role="listview" data-inset="true" data-count-theme="b">
        <li data-role="list-divider">Total<span class="ui-li-count">500/-</span></li>
        <li data-icon="plus">
          <a href="#expense_person" data-transition="slide">
            <img src="assets/images/image.png" class="ui-li-icon">Deepak <span class="ui-li-count">250/-</span></a>
        </li>
        <li data-icon="plus">
          <a href="#">
            <img src="assets/images/image.png" class="ui-li-icon">John <span class="ui-li-count">250/-</span></a>
        </li>
        <li data-icon="minus">
          <a>
            <img src="assets/images/image.png" class="ui-li-icon">Siju <span class="ui-li-count">500/-</span></a>
        </li>
      </ul>
    </div>
<footer_view></footer_view>